@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.width-100 {
   width: 100%;
}
.flex { 
  display: inline-flex;
}
.flex-start{
    justify-content: flex-start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-center {
    align-items: center;
    justify-content: center;
}